
body{
  background-color: #222227;
}

.topnav {
  background-color: #404040;
  border-radius: 1em;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.7em 0.8em;
  text-decoration: none;
  font-size: 1.4em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6600a0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #202020;
  color: white;
}

/*search bar position*/

.box{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  border-radius: 1em;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* search bar formatting */

#mySearch {
  
  width: 30em;
  color: white;
  font-size: 1em;
  padding: 0.6em;
  padding-left: 1em;
  padding-bottom: 0.7em;
  border: 0.05em solid #ddd;
  background-color : #222227;
  border-radius: 2em;
}



/* home page logo */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6em;
  width: 47%;
}

/* results page */

.searchbar {
  padding-left: 5em;
  padding-top: 2em;
}

.song {
  color: white;
  width: 20em;
  background-color: #404040;
  padding: 1em;
  margin: 1em;
  border-radius: 1.7em;
}

.content {
  margin-left: 5em;
  margin-top: 2em;
}

.album {
  width: 20em;
  background-color: #404040;
  display: flex;
  padding: 1em;
  padding-top: 1.1em;
  margin: 1em;
  border-radius: 1.7em;
}

.albumText {
  color: white;
  padding-left: 1em;
}

.albumTitle {
  font-size: 1.3em;
}

.contentLabel {
  color: #111111;
  padding-bottom: 0.6em;
}

.artist {
  width: 20em;
  background-color: #404040;
  display: flex;
  padding: 1em;
  padding-top: 1.1em;
  margin: 1em;
  border-radius: 1.7em;
}

.artistText {
  color: white;
  padding-left: 1em;
}

.artistTitle {
  font-size: 1.3em;
}