.chatArea {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(255, 255, 255, 0.5);
  height: 85vh;
  max-height: 85vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.chatArea .chatSidebar {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
  border-inline-end: rgba(0, 0, 0, 0.2) 1px solid;
  max-height: 100%;
  overflow-y: auto;
  padding: 1rem;
}
.chatArea .chatSidebar .chatOption {
  display: inline-flex;
  max-width: 50vw;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
  transition: margin 0.2s, padding 0.2s;
  cursor: hand;
}
.chatArea .chatSidebar .chatOption:hover {
  background: rgba(0, 0, 0, 0.05);
}
.chatArea .chatSidebar .chatOption.selected {
  background: rgba(0, 0, 0, 0.1);
}
.chatArea .chatSidebar .chatOption > img {
  aspect-ratio: 1;
  max-width: 20%;
  border-radius: 50%;
  height: auto;
  align-self: center;
}
.chatArea .chatSidebar .chatOption > div {
  flex: 1;
  padding-top: 0.5rem;
}
.chatArea .chatSidebar .chatOption > div h5, .chatArea .chatSidebar .chatOption > div p {
  margin: 0;
}
.chatArea .chatMain {
  flex: 1;
  max-height: 100%;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.chatArea .chatMain .chatInput {
  flex: 0;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
}
.chatArea .chatMain .chatMessages {
  flex: 1;
  list-style: none;
  overflow-y: auto;
  padding: 0;
}
.chatArea .chatMain .chatMessages .chatMessage {
  display: table;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  width: auto;
  border-radius: 2rem;
  margin: 0 0 1rem 0;
  max-width: 90%;
}
@media screen and (min-width: 350px) {
  .chatArea .chatMain .chatMessages .chatMessage {
    max-width: 70%;
  }
}
.chatArea .chatMain .chatMessages .chatMessage.chatMessage-ownMessage {
  background: rgba(240, 240, 240, 0.9);
  margin-left: auto;
}
@media screen and (min-width: 700px) {
  .chatArea {
    flex-flow: row nowrap;
  }
  .chatArea .chatSidebar {
    max-width: 30%;
    overflow-x: hidden;
    white-space: inherit;
  }
  .chatArea .chatSidebar .chatOption {
    display: flex;
    max-width: initial;
    margin-bottom: 1rem;
  }
  .chatArea .chatSidebar .chatOption.selected {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 2rem;
  }
}
