.content {
    margin-left: 5em;
    margin-top: 2em;
    margin-right: 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    overflow: scroll;
  }
  
.contentItem {
  width: 35em;
  background-color: rgba(100, 100, 100, 0.6);
  display: flex;
  padding: 1em;
  padding-top: 1.1em;
  margin: 1em;
  border-radius: 1.7em;
  text-align: left;
  border: 1em rgba(100, 100, 100, 0.6);
}
.contentItem .contentItem-image {
    width: 10em;
    height: 10em;
}
.contentItem .contentItem-image img,
.contentItem .contentItem-image picture {
    width: 10em;
    height: 10em;
    object-fit: cover;
}


.contentItem .contentItem-mainText {
  color: white;
  padding-left: 1em;
  font-size: 1.5em;
}

.contentItem .contentItem-mainText .title {
  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10em;
}

.contentItem .contentItem-mainText .contentLabel {
color: #111111;
padding-bottom: 0.6em;
}


.musicHeading {
    
  
  display: flex;
  margin-top: 1em;
  border: 2em;
  justify-content: space-between;
  padding: 0 10em;
}

.heading {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 0.8em;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 0.6em;
  padding: 0.2em 0.4em;
  
}

.emptySpace {
  width: 8em;
}

.back {
  width: 4em;
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 0.6em;
  padding: 0.2em 0.4em;
  transition: all 0.3s;

}

.back:hover {
  background-color: rgba(10, 10, 10, 0.6);
}

.back a {
  color: white;
  text-decoration: none;
}

.content h2 {
  margin: 0 auto;
}